@model IEnumerable<Projetos.Models.Consultas>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table, td, th {
        border: 2px solid black;
        }

        table {
        border-collapse: collapse;
        width: 400px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        }

        th {
        height: 50px;
        }
        td {
            color:#6495ED;
        }
    </style>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodTriagemNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorenNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrmNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodTriagemNavigation.Coren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorenNavigation.Coren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfNavigation.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrmNavigation.Crm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodConsultas">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodConsultas">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodConsultas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
