@model IEnumerable<Projetos.Models.Triagem>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorenNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorenNavigation.Coren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfNavigation.Cpf)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
