@model IEnumerable<Projetos.Models.Pacientes>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h2 >Pacientes</h2>
    <style>
        table, td, th {
        border: 2px solid black;
        }

        table {
        border-collapse: collapse;
        width: 400px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        }

        th {
        height: 50px;
        }
        td {
            color:#6495ED;
        }
    </style>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
