@model Projetos.Models.Triagem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Triagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prioridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorenNavigation.Coren)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfNavigation.Cpf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodTriagem">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
