@model Projetos.Models.Consultas

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Consultas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodTriagemNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodTriagemNavigation.Coren)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorenNavigation.Coren)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfNavigation.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrmNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrmNavigation.Crm)
        </dd>
    </dl>
</div>
</body>
</html>
